html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Helvetica;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	color: #dd0000;
	text-decoration: underline;
}

#container{
		
}

#what{
	font-size: 1em;
	text-align: center;
	padding-bottom: 40px;
	width: 700px;
	margin: 0 auto;
	letter-spacing:1px;
	line-height: 1.3em;
	padding-top: 20px;
	color: #111111;
	cursor: pointer;
}

#log{
	font-size: 1.1em;
	text-align: center;
	padding-top: 20px;
	width: 700px;
	margin: 0 auto;
	letter-spacing:1px;
	line-height: 1.3em;
	color:#999999;
}

#infoholder{
    text-align: center;
    width: 800px;
	text-align: center;
    margin: 0 auto;
    display: block;
    color: #BBBBBB;
    padding: 5px;
}

#clicky{
    height: 200px;
}

#peer{
    text-align: center;
    width: 380px;
    font-size: 1.2em;
	text-align: center;
	font-family: Helvetica;
    margin: 0 auto;
    display: inline-block;
}

#drop_zone {
    border: 2px dashed #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    color: #BBBBBB;
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    width: 800px;
    font-size: 1.3em;
	text-align: center;
	font-family: Helvetica;
    margin: 0 auto;
    cursor: pointer;
}

#fileslist {
    border: 2px dashed #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    color: #BBBBBB;
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    width: 800px;
    font-size: 1.3em;
	text-align: center;
	font-family: Helvetica;
    margin: 0 auto;
    cursor: pointer;
}

#filestable {
	width: 700px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	table-layout: fixed;
}


/* TreeTable
 * ------------------------------------------------------------------------- */

/* Header
 * ------------------------------------------------------------------------- */
table thead {
  background: #aaa url(../images/bg-table-thead.png) repeat-x top left;
  font-size: .9em;
}

table thead tr th {
  border: 1px solid #888;
  font-weight: normal;
  padding: .3em 1.67em .1em 1.67em;
  text-align: left;
}

/* Body
 * ------------------------------------------------------------------------- */
table tbody tr td {
  cursor: default;
  padding: .3em 1.5em;
}

table tbody tr td.filesize {
  white-space: nowrap;
}

table tbody tr.even {
  background: #f3f3f3;
}

table tbody tr.odd {
  background: #fff;
}

table span {
  background-position: center left;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
}


table span.file {
  background-image: url(../images/page_white_text.png);
}

table span.folder {
  background-image: url(../images/folder.png);
}

table span.image {
  background-image: url(../images/image.png);
}

table span.video {
  background-image: url(../images/video.png);
}